# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.idea/*
.directory
.vscode
#virtuoso.*
#virtuoso-temp.*
#virtuoso_data/
*.sh
*.rdb

self_certs/*
postgres_data/*
redis_data/dump.rdb
#virtuoso_data/db/virtuoso.db
