alembic==1.4.2
Authlib==0.14.3
fastapi==0.61.0
celery==4.4.7
redis==3.5.3
httpx==0.14.2
ipython==7.17.0
itsdangerous==1.1.0
Jinja2==2.11.2
psycopg2-binary==2.8.5
pytest==6.0.1
requests==2.24.0
SQLAlchemy==1.3.19
uvicorn==0.11.8
passlib[bcrypt]==1.7.2
sqlalchemy-utils==0.36.8
python-multipart==0.0.5
black==19.10b0
flake8==3.8.2
isort==4.3.21
email-validator==1.0.5
python-jose[cryptography]==3.1.0
SPARQLWrapper==1.8.4
aiodns==2.0.0
aiohttp==3.6.2
cchardet==2.1.6
aiosparql==0.11.0
orjson==3.3.1
biopython==1.75
aiofiles==0.6.0